body {
   background-color:  rgb(36, 70, 39);
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
}

.title {
    font-weight: bold;
    font-size: large;
}

div {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 5vh;
}

.button-30 {
  align-items: center;
  background-color: #FCFCFD;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  transition: box-shadow .15s,transform .15s;
  white-space: nowrap;
  font-size: 18px;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
  
