.container{
  display: flex;
}

.card{
  border: 0.5px solid grey;
  height: 200px;
  width: 150px;
  max-width: 150px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
}

.red {
  color: rgb(213, 49, 49);
  font-weight: bold;
}

.black {
  font-weight: bold;
}

.column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33,3px;
  
}

.column2 {
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.column3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    width: 100%;
}

.column4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  width: 100%;
}

.column5 {
    width: 33,3px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 25x;
    transform: rotate(180deg);
}


.columnCard2 {
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.columnCard6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heartCenter, .clubCenter, .diamondCenter, .spadeCenter{
  width: 50px;
  height: 50px;
}

.symbolTop, .symbolBottom {
  width: 15px;
  height: 15px;
}

.CenterTop, .CenterBottom {
  display: flex;
  width: 50px;
  height: 50px;
}

.CenterTopSmaller, .CenterBottomSmaller {
  display: flex;
  width: 40px;
  height: 40px;
}

.columnCard7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
  padding-right: 5px;
}


.columnCard2 {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px;
}

.columnCard3 {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.columnCard5{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.columnCard8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
  padding-right: 5px;
}

.CenterBottom {
  transform: rotate(180deg);
}

.CenterBottom8 {
  transform: rotate(180deg);
  display: flex;
  width: 30px;
  height: 50px;
  position: relative;
  top:15px
}

.columnCard9 {
  transform: rotate(180deg);
  display: flex;
  width: 30px;
  height: 50px;
  position: relative;
  top: 35%;
  right: 5px;
}

.columnCard10 {
  display: flex;
  width: 30px;
  height: 50px;
flex-direction: column;
position:relative;
top:30px;
right: 7px;
}

.CenterBottom10 {
  transform: rotate(180deg);
  position: relative;
  top: 70px;;
}