.container{
  display: flex;
}

.div {
  margin-left: 5px;
}

.card{
  border: 0.5px solid grey;
  height: 200px;
  width: 154px;
  max-width: 154px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
}

.red {
  color: rgb(213, 49, 49);
  font-weight: bold;
}

.black {
  font-weight: bold;
}

.column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33,3px;
  
}

.column2 {
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.column3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    width: 100%;
}

.column4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  width: 100%;
}

.column5 {
    width: 33,3px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 25x;
    transform: rotate(180deg);
}

.heartCenter, .clubCenter, .diamondCenter, .spadeCenter{
  width: 50px;
  height: 50px;
}

.symbolTop, .symbolBottom {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}

.CenterTop, .CenterBottom {
  display: flex;
  width: 30px;
  height: 30px;
}

.Top, .Bottom {
  display: flex;
  width: 30px;
  height: 30px;
}

.CenterTopSmaller {
  display: flex;
  width: 30px;
  height: 30px;
  top: 5px;
}

.TopSmaller, .BottomSmaller {
  display: flex;
  width: 30px;
  height: 30px;
}

.BottomSmaller {
  transform: rotate(180deg);
}


.CenterBottomSmaller{
  transform: rotate(180deg);
  position: relative;
  width: 30px;
  height: 30px;
}

.king {
  height: 100px;
}

.kinginvert {
  height: 100px;
  transform: rotate(180deg);
}

.queen {
  height: 100px;
}

.queeninvert {
  height: 100px;
  transform: rotate(180deg);
}

.jack {
  height: 80px;
}

.jackinvert {
  height: 80px;
  transform: rotate(180deg);
  position: relative;
  right: 5px;
}