/*CARDS*/
.container {
  display: flex;
}
body {
  background-color: rgb(36, 70, 39);
}

.div {
  margin-left: 5px;
}

.card {
  border: 0.5px solid grey;
  height: 200px;
  width: 150px;
  max-width: 150px;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  padding: 1%;
  position: absolute;
  top: 50vh;
  background-color: white;
}

.cards {
  border: 0.5px solid grey;
  height: 200px;
  width: 150px;
  max-width: 150px;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  padding: 1%;
  background-color: white;
}

.background {
  background-image: url(./Images/background_photo.jpg);
  background-size: cover;
  background-position: center;
  border: 5px solid white;
}

.red {
  color: rgb(213, 49, 49);
  font-weight: bold;
}

.black {
  font-weight: bold;
}

.column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column2 {
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.column3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.column4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.column5 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  transform: rotate(180deg);
}

.heartCenter,
.clubCenter,
.diamondCenter,
.spadeCenter {
  width: 45%;
  height: 30%;
}

.symbolTop,
.symbolBottom {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}

.CenterTop,
.CenterBottom {
  display: flex;
  width: 30px;
  height: 30px;
}

.Top,
.Bottom {
  display: flex;
  width: 30px;
  height: 30px;
}

.CenterTopSmaller {
  display: flex;
  width: 30px;
  height: 30px;
  top: 5px;
}

.TopSmaller,
.BottomSmaller {
  display: flex;
  width: 30px;
  height: 30px;
}

.BottomSmaller {
  transform: rotate(180deg);
}

.CenterBottomSmaller {
  transform: rotate(180deg);
  position: relative;
  width: 30px;
  height: 30px;
}

.king {
  height: 70px;
  position: relative;
  right: 8px;
}

.invert {
  height: 70px;
  transform: rotate(180deg);
  position: relative;
  right: 8px;
}

.queen {
  height: 100px;
}

.jack {
  height: 80px;
}

/*DISPLAY SCREEN*/

#card1 {
  position: relative;
  left: 160px;
}

#card3Up, #card3Down {
  position: relative;
  right: 220px;
}

.mainContainer {
  display: flex;
  flex-flow: row;
  height: 90vh;
}

.mainContainer > * {
  display: flex;
  height: 100%;
}

.container1 {
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
}

.container2 {
  flex-basis: 100%;
  flex-flow: column;
}
.container3 {
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
}

.button, .buttonDraw {
  align-items: center;
  background-color: #fcfcfd;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  width: 100%;
  justify-content: center;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  height: 20%;
  gap: 3%;
}

.buttonsPlay {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  height: 100%;
  width: 100%;
  gap: 3%;
}

#play {
  width: 300px;
  display: block;
  position: absolute;
  bottom: 55%;
}

.menu {
  width: 300px;
}

.help{
  width: 300px;
}

#drawCards {
  width: 300px;
  display: block;
  position: absolute;
  bottom: 50%;
}

.littleContainer1 {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
}

.littleContainer2 {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.littleContainer3 {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
}

.deck {
  display: flex;
}

.playerCards {
  border: 0.5px solid rgb(9, 41, 17);
  height: 200px;
  width: 150px;
  max-width: 150px;
  border-radius: 10px;
  margin: 10px;
  background-color:white;
  display: flex;
}

.nameCPU, .namePlayer  {
  display: flex;
  color: white;
  font-weight: bold;
  justify-content:center;
  align-self: flex-start;
}

.buttonDraw:disabled {
  cursor: none;
  background-color: grey;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
  rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #2f2f39 0 -3px 0 inset;
}

#containerCardsPlayer1, #containerCardsPlayer2{
  display: flex;
  align-self: center ;
}

.animationUp {
  animation: slideUp 1s ease-out;
}

.animationDown {
  animation: slideDown 1s ease-out;
}

@keyframes slideUp {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translateY(-270px);
  }
}

@keyframes slideDown {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translateY(270px);
  }
}